* {
  -webkit-user-select: none;
}

body {
  background-image: url('images/htmlbg.png');
  width: 1080px;
  height: 600px;
  background-size: 100% 100%;
}

#main-container{
  width: 100%;
  height: 100%;
}

#action-bar{
  float: left;
  width: 25%;
  padding: 8px;
}

#main-view{
  background: #FFF;
  -webkit-border-radius: 2px;
  height: 100%;
  overflow: auto;
  width: 70%;
  float: left;
  margin-left: 11px;
  padding: 7px;
}

#action-bar li{
  margin: 5px;
}

#action-bar li button{
  width: 200px;
}

#create-project-form{
  margin-top: 20px;
  margin-left: 20px;
}

#create-project-form input{
  display: block;
}

#display_area{
  width: 100%;
  height: 100%;
}

.files {
  padding: 0;
  margin: 0;
}

.file {
  padding: 2px;
  margin: 2px;
  width: 80px;
  display: inline-block;

  text-align: center;
  vertical-align: top;
}

.file.focus {
  background-color: #08C;
  -webkit-border-radius: 4px;
}

.file .name {
  width: 80px;
  word-wrap: break-word;
}

.file.focus .name {
  color: white;
}

.file .icon {
  margin: auto;
  margin-top: 0;
  width: 60px;
}

.file.focus .icon {
  -webkit-filter: invert(20%);
}

#commits{
  margin: 10px;
  width: 100%;
}

.commit, #diff{
  border-bottom: 1px solid gray;
  padding: 5px;
}

#unsaved-changes-button{
  cursor: pointer;
}

.commit-desc{
  font-size: 15px;
  padding-right: 10px;
}

.help-buttons-wrapper button{
  margin: 5px;
}

#project-button{
  margin-top: 25px;
}